######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

#this is for an ender3v2 with a bltouch, keep in mind to adjust the gcode offset if you need to

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    M117 BED HEATING
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Load saved mesh
    BED_MESH_PROFILE LOAD=default
    # Home the printer
    M117 HOMING  
    G28 L
    # Move the nozzle near the bed
     G1 Z5 F3000
    # Move the nozzle very close to the bed
     G1 Z0.15 F300
    # Wait for bed to reach temperature
    M117 WARMING BED  
    M190 S{BED_TEMP}
    M117 WARMING EXTRUDER
    M109 S{EXTRUDER_TEMP}
    # prime line from: https://github.com/Jasrags/klipper-ender-3-v2/blob/master/gcode_macros.cfg
    M117 Prime Line
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

    # old prime line from prusa slicer #
    
# Set and wait for nozzle to reach temperature
#    M109 S{EXTRUDER_TEMP}
#    G1 Z2.0 F3000 ;Move Z Axis up
#    G1 X10.1 Y20 Z0.28 F5000.0 ;Move to start position
#    G1 X10.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
#    G1 X10.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
#    G1 X10.4 Y20 Z0.28 F1500.0 E30 ;Draw the second line
#    G28 L ;home printer
#    BED_MESH_PROFILE LOAD=default
    M117 PRINTING:)
[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 20mm
    G1 Z20 F3000
    G90
    # Disable Y and X steppers
    M84 Y X
